controller: {}
workers:
  - type: router
    realms:
      - name: realm1
        roles:
          - name: anonymous
            permissions:
              - uri: '*'
                publish: true
                subscribe: true
                call: true
                register: true
    transports:
      - type: web
        endpoint:
          type: tcp
          interface: $OPENSHIFT_DIY_IP
          port: $OPENSHIFT_DIY_PORT
        paths:
          /:
            type: static
            directory: ../static
          ws:
            type: websocket
